In [2]:
%config IPCompleter.greedy=True

In [3]:
from pathlib import Path
import ipynb_path


ipynb_path = Path(ipynb_path.get())
data_path = ipynb_path.parent / 'data'

data = []
for x in sorted([x for x in data_path.iterdir() if x.is_dir()]):
    data.append(sorted((x / 'Trajectory').glob('*.plt')))

print(f"ipynb dir\t: {ipynb_path}")
print(f"data dir\t: {data_path}")
print(f"total data\t: {len(data)}")

ipynb dir	: /home/shane/workspace/wadizu/main.ipynb
data dir	: /home/shane/workspace/wadizu/data
total data	: 182

In [29]:
import numpy as np
import pandas as pd

from tqdm import tqdm


headers = ['latitude',
           'longtitude',
           'zero',
           'altitude',
           'timestamp',
           'date',
           'time']
dfs = []
for files in tqdm(data):
    dfs_of_files = []
    for file in files:
        dfs_of_files.append(pd.read_csv(file,
                                        skiprows=6,
                                        names=headers))
    dfs.append(dfs_of_files)

100%|██████████| 182/182 [01:03<00:00,  2.86it/s]

In [31]:
dfs[0][0]

      latitude  longtitude  zero  altitude     timestamp        date      time
0    39.984702  116.318417     0       492  39744.120185  2008-10-23  02:53:04
1    39.984683  116.318450     0       492  39744.120255  2008-10-23  02:53:10
2    39.984686  116.318417     0       492  39744.120313  2008-10-23  02:53:15
3    39.984688  116.318385     0       492  39744.120370  2008-10-23  02:53:20
4    39.984655  116.318263     0       492  39744.120428  2008-10-23  02:53:25
..         ...         ...   ...       ...           ...         ...       ...
903  40.009172  116.321211     0        88  39744.465880  2008-10-23  11:10:52
904  40.009204  116.321130     0        86  39744.465937  2008-10-23  11:10:57
905  40.009243  116.321050     0        85  39744.465995  2008-10-23  11:11:02
906  40.009269  116.320978     0        84  39744.466053  2008-10-23  11:11:07
907  40.009328  116.320887     0        83  39744.466111  2008-10-23  11:11:12

[908 rows x 7 columns]

In [81]:
# 0.000009
# 0.000018

import numpy as np
import math

sample = 17280 # 5sec in a day

speeds = np.random.normal(0.000009, 0.0000001, sample)
print(speeds)
print(min(speeds), max(speeds))

thetas = np.random.normal(90, 5, 100)
print(thetas)
print(min(thetas), max(thetas))
print(math.sin(math.radians(-1)))

[8.87651469e-06 9.03223527e-06 8.77291431e-06 ... 8.94812319e-06
 9.04953154e-06 9.02371783e-06]
8.610926551124791e-06 9.393163351863465e-06
[ 84.11093662  97.11218077  85.80464873  86.14548217  84.59412628
  97.49093087  81.39471489  86.96798204  93.79296991 103.17548985
  86.9289194   84.32714311  81.51480626  94.83102374  86.91007669
  94.95750866  97.52731612  79.29403889  88.71530374  84.46125084
  88.42970257  88.11714392  87.84478877  94.07937438  92.00021087
  85.2377297   86.75138159  91.12347104  84.19316529  85.76448572
  88.22164852  92.40451455  84.74616778  92.65571369  84.58971334
  93.34469008 100.31960045  92.84178009  93.60618111  90.26841945
  88.33782736  94.23234951  84.49984042  84.63672922  88.38976122
  89.57941816  94.96689989  98.01984678  91.10374929  88.40415488
  96.05348775  88.93934895  78.9886364   87.8113061   86.57503646
  91.04069318  92.03141986  88.0463288   89.46452254  84.86075476
  94.16449013  92.74579627  88.32135113  89.98533707  82.7416477
  93.13376488  87.9491333   88.10517007  78.71535292  85.3532285
  91.61760787  85.83122086  93.73427666  91.28888887  95.00350659
  90.66376753  93.44341042  84.0651735   77.27010888  94.98022004
  85.53821581  94.83871809  88.83348197  82.40306071  89.73164188
  92.46554551  95.95713533  83.35351162  91.45564558  83.52758691
  87.50133024  85.61131668  79.56540044  95.17171615  92.52404758
  85.56339015  87.78730073  81.47188411  84.35434152  90.31882714]
77.27010888076741 103.17548984868753
-0.01745240643728351

In [82]:
import math

class Point:
    home = [
        (36.798004, 127.081831),       # hanavil
    ]

    school = [
        (36.800092, 127.076649),       # wonhwa
    ]

    cvs = [
        (36.796819, 127.081906),       # soluna GS25
        (36.7998415, 127.0818726),     # paliche CU
    ]

    food = [
        (36.800350, 127.074235),       # cafeteria
        (36.7970933, 127.084254),      # nt
        (36.8017485, 127.0671694),     # dosmas
        (36.7962257, 127.0584109),     # menyamatsuri ramen
        (36.8018851, 127.0382685),     # halmae soondae soup
        (36.8073341, 127.069524),      # halbae soup
        (36.8237757, 127.0877052),     # bang-ga-sam-dae soup
        (36.8016894, 127.066079),      # leemone
        (36.7994035, 127.0694409),     # mom's touch
        (36.7993984, 127.0370244),     # massellen chicken
    ]

    coffee = [
        (36.8002687, 127.0747592),     # konaking
        (36.79861, 127.0560803),       # starbucks
        (36.7998415, 127.0818726),     # small place
    ]

    market = [
        (36.8080849, 127.0674659),     # hanaro mart
        (36.7959437, 127.1003331),     # emart traders
        (36.8329064, 127.0937419),     # costco
    ]
    
    @staticmethod
    def between(point_1, point_2):
        return math.sqrt((point_1[0] - point_2[0])**2 + (point_1[1] - point_2[1])**2)
    
    @staticmethod
    def pick(point_here, points_there):
        if type(points_there) is list:
            if len(points_there) < 1:
                raise PointListTooShort("given points of destination is too short")
            else:
                for point_there in points_there:
                    between(point_here, point_there)
        else:
            raise PointNotInList("points argument should be given as list")
                
            
                
class PointError(Exception):
    pass

class PointListTooShort(PointError):
    pass

class PointNotInList(PointError):
    pass
            
    
for food in Point.coffee:
    print("longtitude:", food[0])
    print("latitude:  ", food[1])
    print()
    print()

longtitude: 36.8002687
latitude:   127.0747592


longtitude: 36.79861
latitude:   127.0560803


longtitude: 36.7998415
latitude:   127.0818726

In [32]:
import datetime

# 39.984702,116.318417,0,492,39744.1201851852,2008-10-23,02:53:04
# 39.984683,116.31845,0,492,39744.1202546296,2008-10-23,02:53:10
# 39.984686,116.318417,0,492,39744.1203125,2008-10-23,02:53:15

init_date = datetime.datetime(1899, 12, 30)
delta = datetime.timedelta(days=39744.1201851852)
print(init_date + delta)

sub = 39744.1202546296 - 39744.1201851852
datetime.timedelta(days=sub)

2008-10-23 02:53:04.000001

datetime.timedelta(seconds=5, microseconds=999996)